#Id	Age	Sex	Misc
Key	Type	Value	Description
string	int	bool	List<string>

6	22	true	[a,b]
7	22	true	[a,b]
8	22	true	[a,b]
9	22	true	[a,b]
10	22	true	[a,b]
11	22	true	[a,b]
12	22	true	[a,b]
13	22	true	[a,b]
